.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue !important;
  color: #f5f5f5;
}

.form-content {
  color: black;
  overflow: scroll;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
}

.form-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0062cc;
}

.h1 {
  width: 100%;
}

.logo_input {
  width: 100%;
  height: auto;
  margin: 0 !important;
  padding: 0;
  border: none;
}

.hero {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: none !important;
  min-width: none !important;
}
.hero-text{
  margin: 0 !important;
  padding: 0 !important;
}